<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>pmgr</title>
      <link rel="stylesheet" href="highlight.css">
      <script type="text/javascript" src="highlight.js"></script>
      <link rel="stylesheet" href="katex.css">
      <script type="text/javascript" src="katex.js"></script>
      <link rel="stylesheet" href="md.css">
      <script type="text/javascript" src="md.js"></script>
      <script type="text/javascript" src="emoji.js"></script>
      <link rel="stylesheet" type="text/css" href="98.css">
      <link rel="stylesheet" type="text/css" href="pmgr.css">
      <script type="text/javascript" src="pmgr.js"></script>
  </head>
  <body>
    <aside>
      <ul class="tree-view">
        <% keys.each do |k, v| %>
          <li>
            <details open>
              <summary><%= k.capitalize() %></summary>
              <ul>
                <% v.each do |vv| %>
                  <li id="id<%= vv[:id] %>" data-type="<%= k %>" class="tree-view-li"><%= vv["title"] %></li>
                <% end %>
                <li id="new_<%= k %>">New <%= k[0..-2].capitalize() %></li>
              </ul>
            </details>
          </li>
        <% end %>
      </ul>
    </aside>
    <main>
    </main>
  </body>
</html>
